/*
    - reset default element style
    - set 10px to 1rem
    - set line-height to golden ratio

*/
@import url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap);
* {
  box-sizing: border-box;
  font-display: swap;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /* pour retirer la mise en avant */
}

html {
  font-size: 62.5%;
  line-height: 1.618;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

input[type=checkbox],
input[type=radio] {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: 0.2rem solid black;
  height: 5rem;
  width: 5rem;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: black;
}

p {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

* {
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
}

/* From cssbuttons.io */
button {
  border: 0.25em solid #d9b0ff;
  padding: 1em 3em;
  color: #d9b0ff;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(100, 61, 136, 0.365);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em #d9b0ff, 0 0 0em 0em rgba(191, 123, 255, 0.78), inset 0 0 0.75em 0.25em #d9b0ff;
  text-shadow: 0 0 0.5em #d9b0ff;
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 1%;
  width: 10%;
  background-color: rgba(191, 123, 255, 0.78);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: rgba(100, 61, 136, 0.365);
  background-color: #d9b0ff;
  box-shadow: 0 0 1em 0em #d9b0ff, 0 0 1em 0em rgba(191, 123, 255, 0.78), inset 0 0 0.75em 0.25em #d9b0ff;
}

button:active {
  box-shadow: 0 0 0.6em 0.25em #d9b0ff, 0 0 2.5em 2em rgba(191, 123, 255, 0.78), inset 0 0 0.5em 0.25em #d9b0ff;
}

/* From cssbuttons.io */
input::after {
  border-radius: 50%;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 1%;
  width: 10%;
  background-color: rgba(191, 123, 255, 0.78);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

input:hover {
  border-radius: 50%;
  color: rgba(100, 61, 136, 0.365);
  background-color: #d9b0ff;
  box-shadow: 0 0 1em 0em #d9b0ff, 0 0 1em 0em rgba(191, 123, 255, 0.78), inset 0 0 0.75em 0.25em #d9b0ff;
}

input:active {
  border-radius: 50%;
  box-shadow: 0 0 0.6em 0.25em #d9b0ff, 0 0 2.5em 2em rgba(191, 123, 255, 0.78), inset 0 0 0.5em 0.25em #d9b0ff;
}

body h1 {
  font-size: 4em;
  text-align: center;
}
body main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body main h2,
body main h3 {
  font-size: 1.2em;
  text-align: center;
  margin: 1em auto;
  color: #d9b0ff;
  text-shadow: 0 0 0.5em #d9b0ff;
  letter-spacing: 0.1em;
}
body main section.gameboard {
  width: 60%;
}
body main section.gameboard #gameGrid {
  background-color: #303030;
  border: 2px solid white;
  border-radius: 1em;
  max-width: calc(100% - 2em);
  margin: 0 auto;
}
body main section.gameboard #gameGrid #gridPlayerTry {
  max-height: 40em;
  overflow-y: scroll;
}
body main section.gameboard #gameGrid .secretCode,
body main section.gameboard #gameGrid .playerTry,
body main section.gameboard #gameGrid .playerCode,
body main section.gameboard #gameGrid .combination {
  border-top: 1px solid #d9b0ff;
  display: flex;
  flex-wrap: wrap;
}
body main section.gameboard #gameGrid .secretCode .cell,
body main section.gameboard #gameGrid .playerTry .cell,
body main section.gameboard #gameGrid .playerCode .cell,
body main section.gameboard #gameGrid .combination .cell {
  text-align: center;
  height: 2em;
  font-weight: 500;
  font-size: 2em;
  line-height: 2em;
  color: #d9b0ff;
}
body main section.gameboard #gameGrid .secretCode .cell:not(:last-child),
body main section.gameboard #gameGrid .playerTry .cell:not(:last-child),
body main section.gameboard #gameGrid .playerCode .cell:not(:last-child),
body main section.gameboard #gameGrid .combination .cell:not(:last-child) {
  border-right: 1px solid #d9b0ff;
}
body main section.gameboard #gameGrid .secretCode .cell.col-6,
body main section.gameboard #gameGrid .playerTry .cell.col-6,
body main section.gameboard #gameGrid .playerCode .cell.col-6,
body main section.gameboard #gameGrid .combination .cell.col-6 {
  flex: 0 0 14.2857142857%;
}
body main section.gameboard #gameGrid .secretCode .cell.col-5,
body main section.gameboard #gameGrid .playerTry .cell.col-5,
body main section.gameboard #gameGrid .playerCode .cell.col-5,
body main section.gameboard #gameGrid .combination .cell.col-5 {
  flex: 0 0 16.6666666667%;
}
body main section.gameboard #gameGrid .secretCode .cell.col-4,
body main section.gameboard #gameGrid .playerTry .cell.col-4,
body main section.gameboard #gameGrid .playerCode .cell.col-4,
body main section.gameboard #gameGrid .combination .cell.col-4 {
  flex: 0 0 20%;
}
body main section.gameboard #gameGrid .secretCode .cell.col-3,
body main section.gameboard #gameGrid .playerTry .cell.col-3,
body main section.gameboard #gameGrid .playerCode .cell.col-3,
body main section.gameboard #gameGrid .combination .cell.col-3 {
  flex: 0 0 25%;
}
body main section.gameboard #gameGrid .secretCode .cell.col-2,
body main section.gameboard #gameGrid .playerTry .cell.col-2,
body main section.gameboard #gameGrid .playerCode .cell.col-2,
body main section.gameboard #gameGrid .combination .cell.col-2 {
  flex: 0 0 33.3333333333%;
}
body main section.gameboard #gameGrid .secretCode .cell.col-1,
body main section.gameboard #gameGrid .playerTry .cell.col-1,
body main section.gameboard #gameGrid .playerCode .cell.col-1,
body main section.gameboard #gameGrid .combination .cell.col-1 {
  flex: 0 0 50%;
}
body main section.gameboard #gameGrid .secretCode .cell.item-0,
body main section.gameboard #gameGrid .playerTry .cell.item-0,
body main section.gameboard #gameGrid .playerCode .cell.item-0,
body main section.gameboard #gameGrid .combination .cell.item-0 {
  background-color: #8300ff;
}
body main section.gameboard #gameGrid .secretCode .cell.item-1,
body main section.gameboard #gameGrid .playerTry .cell.item-1,
body main section.gameboard #gameGrid .playerCode .cell.item-1,
body main section.gameboard #gameGrid .combination .cell.item-1 {
  background-color: #ff8300;
}
body main section.gameboard #gameGrid .secretCode .cell.item-2,
body main section.gameboard #gameGrid .playerTry .cell.item-2,
body main section.gameboard #gameGrid .playerCode .cell.item-2,
body main section.gameboard #gameGrid .combination .cell.item-2 {
  background-color: #1289a7;
}
body main section.gameboard #gameGrid .secretCode .cell.item-3,
body main section.gameboard #gameGrid .playerTry .cell.item-3,
body main section.gameboard #gameGrid .playerCode .cell.item-3,
body main section.gameboard #gameGrid .combination .cell.item-3 {
  background-color: #00ff83;
}
body main section.gameboard #gameGrid .secretCode .cell.item-4,
body main section.gameboard #gameGrid .playerTry .cell.item-4,
body main section.gameboard #gameGrid .playerCode .cell.item-4,
body main section.gameboard #gameGrid .combination .cell.item-4 {
  background-color: #ff00fc;
}
body main section.gameboard #gameGrid .secretCode .cell.item-5,
body main section.gameboard #gameGrid .playerTry .cell.item-5,
body main section.gameboard #gameGrid .playerCode .cell.item-5,
body main section.gameboard #gameGrid .combination .cell.item-5 {
  background-color: #0300ff;
}
body main section.gameboard #gameGrid .secretCode .cell.item-6,
body main section.gameboard #gameGrid .playerTry .cell.item-6,
body main section.gameboard #gameGrid .playerCode .cell.item-6,
body main section.gameboard #gameGrid .combination .cell.item-6 {
  background-color: #000000;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker),
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker),
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker),
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) {
  display: flex;
  flex-wrap: wrap;
  flex: row;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode {
  width: 100%;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode:not(:last-child),
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode:not(:last-child),
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode:not(:last-child),
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode:not(:last-child) {
  border-bottom: 1px solid #d9b0ff;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.col-6,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.col-6,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.col-6,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.col-6 {
  flex: 0 0 33.3333333333%;
  height: 16.6666666667%;
  width: auto;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.col-5,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.col-5,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.col-5,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.col-5 {
  flex: 0 0 33.3333333333%;
  height: 20%;
  width: auto;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.col-4,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.col-4,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.col-4,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.col-4 {
  flex: 0 0 50%;
  height: 25%;
  width: auto;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.col-3,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.col-3,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.col-3,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.col-3 {
  flex: 0 0 50%;
  width: auto;
  height: 33.3333333333%;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.perfect,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.perfect,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.perfect,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.perfect {
  background-color: #00ff03;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.exist,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.exist,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.exist,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.exist {
  background-color: #ff9b44;
}
body main section.gameboard #gameGrid .secretCode .cell.checker:not(#secretChecker) .diode.none,
body main section.gameboard #gameGrid .playerTry .cell.checker:not(#secretChecker) .diode.none,
body main section.gameboard #gameGrid .playerCode .cell.checker:not(#secretChecker) .diode.none,
body main section.gameboard #gameGrid .combination .cell.checker:not(#secretChecker) .diode.none {
  background-color: #858585;
}
body main section.gameboard #gameGrid h2 {
  text-align: center;
}
body main section.gameboard #gameGrid .playerTry.hidden {
  display: none;
}
body main section.gameboard #gameGrid .playerCode .cell.col-7 {
  flex: 0 0 14.2857142857%;
}
body main section.gameboard #gameGrid .playerCode .cell.col-6 {
  flex: 0 0 16.6666666667%;
}
body main section.gameboard #gameGrid .playerCode .cell.col-5 {
  flex: 0 0 20%;
}
body main section.gameboard #gameGrid .playerCode .cell.col-4 {
  flex: 0 0 25%;
}
body main section.gameboard #gameGrid .playerCode .cell.col-3 {
  flex: 0 0 33.3333333333%;
}
@media (max-width: 767px) {
  body main main {
    flex-direction: column;
  }
}

section.settingsPanel {
  width: 40%;
  height: fit-content;
}
section.settingsPanel .container {
  background-color: #303030;
  border: 2px solid white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
section.settingsPanel .container .settings .setter {
  display: flex;
  justify-content: space-around;
}
section.settingsPanel .container .settings .setter div.length {
  position: relative;
  border-radius: 50%;
}
section.settingsPanel .container .settings .setter div.length input {
  border: 0.5rem solid #d9b0ff;
  background-color: transparent;
}
section.settingsPanel .container .settings .setter div.length input:checked {
  border: 0.5rem solid #d9b0ff;
}
section.settingsPanel .container .settings .setter div.length label {
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d9b0ff;
  font-size: 1em;
  font-weight: 700;
  text-shadow: 0 0 0.5em #d9b0ff;
}
section.settingsPanel .container .settings .chronometer button {
  height: 2em;
  vertical-align: center;
  line-height: 0em;
}
section.settingsPanel .container .settings div.separator {
  width: 50%;
  border-width: 3px 0 0;
  border-top-style: solid;
  border-image: linear-gradient(139deg, #d9b0ff, white, rgba(100, 61, 136, 0.365), #d9b0ff) 3;
  margin: 2em auto;
}
section.settingsPanel .container .gameControls {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
section.settingsPanel .container .gameControls div.startBtn {
  margin: auto;
}
section.settingsPanel .container .gameControls div.startBtn button {
  flex: 1;
}
section.settingsPanel .container .gameControls h3 {
  margin-top: 1.5em;
}
section.settingsPanel .container .gameControls .selectItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 2em;
}
section.settingsPanel .container .gameControls .selectItems div.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
section.settingsPanel .container .gameControls .selectItems div.row.col-1 {
  flex: 0 0 1;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell {
  height: 4em;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.col-7 {
  flex: 0 0 14.2857142857%;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.col-6 {
  flex: 0 0 16.6666666667%;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.col-5 {
  flex: 0 0 20%;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.col-4 {
  flex: 0 0 25%;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.col-3 {
  flex: 0 0 33.3333333333%;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-0 {
  background-color: #8300ff;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-1 {
  background-color: #ff8300;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-2 {
  background-color: #1289a7;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-3 {
  background-color: #00ff83;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-4 {
  background-color: #ff00fc;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-5 {
  background-color: #0300ff;
}
section.settingsPanel .container .gameControls .selectItems div.row .cell.item-6 {
  background-color: #000000;
}

/*# sourceMappingURL=app.css.map */
