body {
  h1 {
    font-size: 4em;
    text-align: center;
  }
  main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h2,
    h3 {
      font-size: 1.2em;
      text-align: center;
      margin: 1em auto;
      color: $glow-color;
      text-shadow: 0 0 0.5em $glow-color;
      letter-spacing: 0.1em;
    }
    section.gameboard {
      // border: 1px solid blue;
      width: 60%;
      #gameGrid {
        // background-color: rgb(48, 48, 48);
        border: 2px solid white;
        border-radius: 4em;
        max-width: calc(100% - 2em);
        margin: 0 auto;

        .secretCode,
        .playerTry,
        .playerCode {
          border: 1px solid $glow-color;
          display: flex;
          flex-wrap: wrap;
          .cell {
            height: 4em;
            &:not(:last-child) {
              border-right: 2px solid $glow-color;
            }
            &.col-6 {
              flex: 0 0 calc(100% / 7);
            }
            &.col-5 {
              flex: 0 0 calc(100% / 6);
            }
            &.col-4 {
              flex: 0 0 calc(100% / 5);
            }
            &.col-3 {
              flex: 0 0 calc(100% / 4);
            }
            &.col-2 {
              flex: 0 0 calc(100% / 3);
            }
            &.col-1 {
              flex: 0 0 calc(100% / 2);
            }
            &.item-0 {
              background-color: $item-0;
            }
            &.item-1 {
              background-color: $item-1;
            }
            &.item-2 {
              background-color: $item-2;
            }
            &.item-3 {
              background-color: $item-3;
            }
            &.item-4 {
              background-color: $item-4;
            }
            &.item-5 {
              background-color: $item-5;
            }
            &.item-6 {
              background-color: $item-6;
            }
            // les diodes dans .checker
            &.checker:not(#secretChecker) {
              display: flex;
              flex-wrap: wrap;
              flex: row;
              .diode {
                width: 100%;
                border-bottom: 1px solid $glow-color;
                &.col-6 {
                  flex: 0 0 calc(100% / 3);
                  height: calc(100% / 6);
                  width: auto;
                }
                &.col-5 {
                  flex: 0 0 calc(100% / 3);
                  height: calc(100% / 5);
                  width: auto;
                }
                &.col-4 {
                  flex: 0 0 calc(100% / 2);
                  height: calc(100% / 4);
                  width: auto;
                }
                &.col-3 {
                  flex: 0 0 calc(100% / 2);
                  width: auto;
                  height: calc(100% / 3);
                }
                &.perfect {
                  background-color: $perfect;
                }
                &.exist {
                  background-color: $exist;
                }
                &.none {
                  background-color: $none;
                }
              }
            }
          }
        }

        h2 {
          text-align: center;
        }

        //------------------------
      }
    }
  }

  @media (max-width: 767px) {
    main {
      flex-direction: column;
      // ou le settins panel en toggle ou display none
    }
  }
}
