main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  section.gameboard {
    border: 1px solid blue;
    width: 60%;
    #gameGrid {
      border: 1px solid red;
      max-width: calc(100% - 2em);
      margin: 0 auto;

      h2 {
        text-align: center;
      }

      #secretCode,
      #playerCode {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 20px;
      }

      #secretCode {
        flex-wrap: nowrap;
        div {
          flex: 1;
          background-color: black;
          // border: 1px solid red;
        }
      }
      #gridPlayerTry {
        // border: 1px solid orangered;
        flex-direction: column-reverse;
        #playerTry {
          &.hidden {
            display: none;
          }
          flex: 1;
          height: fit-content;
          // border: 1px solid rgb(14, 149, 228);
          display: flex;
          flex-direction: row;
          div.cell {
            flex: 1;
            background-color: lightgreen;
            // border: 1px solid violet;
            padding: 1rem 0;
            text-align: center;
            &.item-0 {
              background-color: $item-0;
            }
            &.item-1 {
              background-color: $item-1;
            }
            &.item-2 {
              background-color: $item-2;
            }
            &.item-3 {
              background-color: $item-3;
            }
            &.item-4 {
              background-color: $item-4;
            }
            &.item-5 {
              background-color: $item-5;
            }
            &.item-6 {
              background-color: $item-6;
            }
          }
          div.checker {
            flex: 1;
            display: flex;
            flex-direction: column-reverse;
            background-color: none;
            .diode {
              border: 1px solid white;
              flex: 1;
              &.perfect {
                background-color: green;
              }
              &.exist {
                background-color: rgb(6, 171, 248);
              }
              &.none {
                background-color: grey;
              }
            }
          }
        }
      }

      #playerCode {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        height: 20px;

        div {
          flex: 1;
          border: 1px solid black;
          &.item-0 {
            background-color: blue;
          }
          &.item-1 {
            background-color: red;
          }
          &.item-2 {
            background-color: yellow;
          }
          &.item-3 {
            background-color: green;
          }
          &.item-4 {
            background-color: black;
          }
          &.item-5 {
            background-color: rgb(5, 163, 255);
          }
          &.item-6 {
            background-color: rgb(150, 21, 255);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
    // ou le settins panel en toggle ou display none
  }
}
