section.settingsPanel {
  width: 40%;
  height: fit-content;
  // background-color: grey;
  .container {
    background-color: rgb(48, 48, 48);
    border: 2px solid white;

    border-radius: 4em;
    display: flex;
    flex-direction: column;
    // justify-content: stretch;

    .settings {
      .setter {
        display: flex;
        justify-content: space-around;
        div.length {
          position: relative;
          border-radius: 50%;

          input {
            border: 0.5rem solid $glow-color;
            background-color: transparent;

            &:checked {
              // background-color: $glow-color;
              // filter: invert(100%) hue-rotate(18deg) brightness(1.7);
              border: 0.5rem solid $glow-color;
            }
          }
          label {
            border-radius: 50%;

            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $glow-color;
            font-size: 1em;
            font-weight: 700;
            text-shadow: 0 0 0.5em $glow-color;
          }
        }
        &.codeLength {
        }
        &.variants {
        }
      }
      .chronometer {
        button {
          height: 2em;
          vertical-align: center;
          line-height: 0em;
        }
      }
      div.separator {
        width: 50%;
        border-width: 3px 0 0;
        border-top-style: solid;
        border-image: linear-gradient(
            139deg,
            $glow-color,
            white,
            $btn-color,
            $glow-color
          )
          3;
        margin: 2em auto;
      }
    }
    .gameControls {
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      div {
        width: 100%;
        button {
          margin: 1em auto;
          flex: 1;
          width: 100%;
        }
      }

      .selectItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
        // background-color: blue;
        div {
          flex: 1;
          // background-color: rgb(208, 226, 208);
          // border: 1px solid rgb(167, 9, 167);
          // padding: 1rem 0;
          text-align: center;

          &.item-0 {
            background-color: $item-0;
          }
          &.item-1 {
            background-color: $item-1;
          }
          &.item-2 {
            background-color: $item-2;
          }
          &.item-3 {
            background-color: $item-3;
          }
          &.item-4 {
            background-color: $item-4;
          }
          &.item-5 {
            background-color: $item-5;
          }
          &.item-6 {
            background-color: $item-6;
          }
        }
      }
    }
  }
}
