section.settingsPanel {
  width: 40%;
  height: 60vh;
  background-color: grey;
  .container {
    display: flex;
    flex-direction: column;
    // justify-content: stretch;
    .settings {
      .codeLength {
        display: flex;
        justify-content: start;
      }
      .variants {
        display: flex;
      }
      .chronometer {
        button {
          height: 2em;
          vertical-align: center;
          line-height: 0em;
        }
      }
    }
    .gameControls {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      div {
        width: 100%;
        button {
          margin: 1em auto;
          flex: 1;
          width: 100%;
        }
      }

      .selectItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
        // background-color: blue;
        div {
          flex: 1;
          // background-color: rgb(208, 226, 208);
          // border: 1px solid rgb(167, 9, 167);
          // padding: 1rem 0;
          text-align: center;

          &.item-0 {
            background-color: $item-0;
          }
          &.item-1 {
            background-color: $item-1;
          }
          &.item-2 {
            background-color: $item-2;
          }
          &.item-3 {
            background-color: $item-3;
          }
          &.item-4 {
            background-color: $item-4;
          }
          &.item-5 {
            background-color: $item-5;
          }
          &.item-6 {
            background-color: $item-6;
          }
        }
      }
    }
  }
}
