@import url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap),
  url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap);

$font1: "Hubballi", cursive;
$font2: "Rajdhani", sans-serif;
//graisses
$light: 300;
$regular: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;

* {
  font-family: $font2;
  font-size: 1rem;
}

// @mixin paragraphe {
//   font-size: 1.5rem;
//   text-align: center;
//   font-weight: $semi-bold;
// }

// p {
//   @include paragraphe();
// }

// h2 {
//   color: black;
//   font-size: 2.5rem;
//   font-weight: $semi-bold;
//   text-align: center;
// }
